*{
    box-sizing: border-box;
}
header{
    padding: 1% 0 1% 0;
}
body{
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.nav-list{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.nav-item{
    padding: 0 5% 0 5%;
}
html {
    scroll-behavior: smooth;
}
.main-container{
    padding: 1% 25% 1% 25%;
    flex-wrap: wrap;
}
.section {
    max-width: 1440px;
}
.foto{
    width: 50%;
    height: 90%;
}
footer{
    display: flex;
    height: 10%;
}
.footer-section{
    width: 33%;
    display: flex;
    padding: 1px 0 0 10%;
}
img{
    width: 70%;
    height: 60%;
}
.github-img{
    width: 30%;
    height: 70%;
}
