*{
    box-sizing: border-box;
}
header{
    padding: 1% 0 1% 0;
    background-color: #FFC0CB;
}
body{
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.nav-list{
    display: flex;
    align-items: center;
}
.nav-link{
    color: black;
    text-decoration: none;
}
.nav-item{
    padding: 0 5% 0 5%;
    list-style-type: none;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}
html {
    scroll-behavior: smooth;
}
.main-container{
    padding: 1% 25% 1% 25%;
    flex-wrap: wrap;
    background-color: #7FFFD4;
}
.section {
    max-width: 1440px;
}
.foto{
    width: 50%;
    height: 90%;
}
footer{
    display: flex;
    height: 10%;
    background-color: #FFC0CB;
}
.footer-section{
    width: 33%;
    display: flex;
    padding: 1% 0 1% 10%;
}
img{
    width: 70%;
    height: 60%;
}
.github-img{
    width: 35%;
    height: 70%;
}
